<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
                <span class="text-gradient">
                    Kindly fill in your details before we start sharing your location.
                </span>
            </a>
        </div>

        <!-- form handling-->
        <%- include('include/_form_driver')%>

    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer')%>
<!-- /include footer -->
